In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("INFY.csv")
df.head(5)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,1996-01-01,INFOSYSTCH,EQ,408.00,407.0,407.9,405.00,NaN,407.90,406.48,400,1.625900e+10,NaN,NaN,NaN
1,1996-01-02,INFOSYSTCH,EQ,407.90,407.0,409.0,406.25,NaN,406.25,407.58,400,1.630300e+10,NaN,NaN,NaN
2,1996-01-03,INFOSYSTCH,EQ,406.25,409.0,409.0,409.00,NaN,409.00,409.00,200,8.180000e+09,NaN,NaN,NaN
3,1996-01-04,INFOSYSTCH,EQ,409.00,405.0,407.0,405.00,NaN,406.30,405.65,600,2.433900e+10,NaN,NaN,NaN
4,1996-01-05,INFOSYSTCH,EQ,406.30,401.5,401.5,401.50,NaN,401.50,401.50,100,4.015000e+09,NaN,NaN,NaN

In [3]:
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [4]:
df.dtypes

Date                   object
Symbol                 object
Series                 object
Prev Close            float64
Open                  float64
High                  float64
Low                   float64
Last                  float64
Close                 float64
VWAP                  float64
Volume                  int64
Turnover              float64
Trades                float64
Deliverable Volume    float64
%Deliverble           float64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6348 entries, 0 to 6347
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                6348 non-null   object
 1   Symbol              6348 non-null   object
 2   Series              6348 non-null   object
 3   Prev Close          6348 non-null   float64
 4   Open                6348 non-null   float64
 5   High                6348 non-null   float64
 6   Low                 6348 non-null   float64
 7   Last                5802 non-null   float64
 8   Close               6348 non-null   float64
 9   VWAP                6348 non-null   float64
 10  Volume              6348 non-null   int64
 11  Turnover            6348 non-null   float64
 12  Trades              2501 non-null   float64
 13  Deliverable Volume  4843 non-null   float64
 14  %Deliverble         4843 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 744.0+ KB

In [6]:
df1 = df[['Date','Close']]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6348 entries, 0 to 6347
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6348 non-null   object
 1   Close   6348 non-null   float64
dtypes: float64(1), object(1)
memory usage: 99.3+ KB

In [7]:
df1['Xth'] = df1['Close'].shift(-7)
print(len(df1.Close))

6348

C:\Users\abhij\AppData\Local\Temp\ipykernel_21520\2793632845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Xth'] = df1['Close'].shift(-7)

In [8]:
c1 = []
for i in range(1,20):
    df1['temp'] = df1['Xth'] - df1['Xth'].shift(-1*i)
    df1['temp'] = df1['temp']/df1['Xth']*100
    c1.append(df1['temp'].to_numpy())

print(c1)    
df2 = pd.DataFrame(c1)
df3 = df2.transpose()
df3.head(10)

[array([-2.27272727,  0.55555556,  1.11731844, ...,         nan,
               nan,         nan]), array([-1.70454545,  1.66666667,  0.68280571, ...,         nan,
               nan,         nan]), array([-0.56818182,  1.2345679 ,  1.62631906, ...,         nan,
               nan,         nan]), array([-1.01010101,  2.17283951,  1.30353818, ...,         nan,
               nan,         nan]), array([-0.05050505,  1.85185185,  2.29671012, ...,         nan,
               nan,         nan]), array([-0.37878788,  2.83950617,  1.30353818, ...,         nan,
               nan,         nan]), array([0.63131313, 1.85185185, 1.61390441, ...,        nan,        nan,
              nan]), array([-0.37878788,  2.16049383,  2.04841713, ...,         nan,
               nan,         nan]), array([-0.06313131,  2.59259259,  2.42085661, ...,         nan,
               nan,         nan]), array([0.37878788, 2.96296296, 2.97951583, ...,        nan,        nan,
              nan]), array([0.75757576, 3.51851852, 1.80012415, ...,        nan,        nan,
              nan]), array([1.32575758, 2.34567901, 0.68280571, ...,        nan,        nan,
              nan]), array([ 0.12626263,  1.2345679 , -3.04158908, ...,         nan,
               nan,         nan]), array([-1.01010101, -2.4691358 , -6.75356921, ...,         nan,
               nan,         nan]), array([-4.7979798 , -6.16049383, -6.76598386, ...,         nan,
               nan,         nan]), array([-8.57323232, -6.17283951, -9.24891372, ...,         nan,
               nan,         nan]), array([-8.58585859, -8.64197531, -6.34388579, ...,         nan,
               nan,         nan]), array([-11.11111111,  -5.75308642, -12.9733085 , ...,          nan,
                nan,          nan]), array([ -8.15656566, -12.34567901, -17.28119181, ...,          nan,
                nan,          nan])]

C:\Users\abhij\AppData\Local\Temp\ipykernel_21520\2582991507.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['temp'] = df1['Xth'] - df1['Xth'].shift(-1*i)
C:\Users\abhij\AppData\Local\Temp\ipykernel_21520\2582991507.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['temp'] = df1['temp']/df1['Xth']*100

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-2.272727,-1.704545,-0.568182,-1.010101,-0.050505,-0.378788,0.631313,-0.378788,-0.063131,0.378788,0.757576,1.325758,0.126263,-1.010101,-4.797980,-8.573232,-8.585859,-11.111111,-8.156566
1,0.555556,1.666667,1.234568,2.172840,1.851852,2.839506,1.851852,2.160494,2.592593,2.962963,3.518519,2.345679,1.234568,-2.469136,-6.160494,-6.172840,-8.641975,-5.753086,-12.345679
2,1.117318,0.682806,1.626319,1.303538,2.296710,1.303538,1.613904,2.048417,2.420857,2.979516,1.800124,0.682806,-3.041589,-6.753569,-6.765984,-9.248914,-6.343886,-12.973309,-17.281192
3,-0.439422,0.514752,0.188324,1.192718,0.188324,0.502197,0.941620,1.318267,1.883239,0.690521,-0.439422,-4.205901,-7.959824,-7.972379,-10.483365,-7.545512,-14.249843,-18.606403,-17.263026
4,0.950000,0.625000,1.625000,0.625000,0.937500,1.375000,1.750000,2.312500,1.125000,0.000000,-3.750000,-7.487500,-7.500000,-10.000000,-7.075000,-13.750000,-18.087500,-16.750000,-22.500000
5,-0.328117,0.681474,-0.328117,-0.012620,0.429076,0.807673,1.375568,0.176678,-0.959112,-4.745078,-8.518425,-8.531045,-11.055023,-8.101969,-14.840989,-19.220091,-17.869763,-23.674912,-28.344271
6,1.006289,0.000000,0.314465,0.754717,1.132075,1.698113,0.503145,-0.628931,-4.402516,-8.163522,-8.176101,-10.691824,-7.748428,-14.465409,-18.830189,-17.484277,-23.270440,-27.924528,-29.132075
7,-1.016518,-0.698856,-0.254130,0.127065,0.698856,-0.508259,-1.651842,-5.463787,-9.263024,-9.275731,-11.817027,-8.843710,-15.628971,-20.038119,-18.678526,-24.523507,-29.224905,-30.444727,-30.813215
8,0.314465,0.754717,1.132075,1.698113,0.503145,-0.628931,-4.402516,-8.163522,-8.176101,-10.691824,-7.748428,-14.465409,-18.830189,-17.484277,-23.270440,-27.924528,-29.132075,-29.496855,-26.817610
9,0.441640,0.820189,1.388013,0.189274,-0.946372,-4.731861,-8.504732,-8.517350,-11.041009,-8.088328,-14.826498,-19.205047,-17.854890,-23.659306,-28.328076,-29.539432,-29.905363,-27.217666,-25.198738

In [9]:
df3.shape

(6348, 19)

In [10]:
c2 =df3.to_numpy()
c2

array([[ -2.27272727,  -1.70454545,  -0.56818182, ...,  -8.58585859,
        -11.11111111,  -8.15656566],
       [  0.55555556,   1.66666667,   1.2345679 , ...,  -8.64197531,
         -5.75308642, -12.34567901],
       [  1.11731844,   0.68280571,   1.62631906, ...,  -6.34388579,
        -12.9733085 , -17.28119181],
       ...,
       [         nan,          nan,          nan, ...,          nan,
                 nan,          nan],
       [         nan,          nan,          nan, ...,          nan,
                 nan,          nan],
       [         nan,          nan,          nan, ...,          nan,
                 nan,          nan]])

In [11]:
len(c2)

6348

In [12]:
c3 =[]

for i in range(int(len(c2)-20)):
      
    c6 = np.concatenate((c2[i:i+20]))
    
    c3.append(c6)

In [13]:
c3[1:3]

[array([ 5.55555556e-01,  1.66666667e+00,  1.23456790e+00,  2.17283951e+00,
         1.85185185e+00,  2.83950617e+00,  1.85185185e+00,  2.16049383e+00,
         2.59259259e+00,  2.96296296e+00,  3.51851852e+00,  2.34567901e+00,
         1.23456790e+00, -2.46913580e+00, -6.16049383e+00, -6.17283951e+00,
        -8.64197531e+00, -5.75308642e+00, -1.23456790e+01,  1.11731844e+00,
         6.82805711e-01,  1.62631906e+00,  1.30353818e+00,  2.29671012e+00,
         1.30353818e+00,  1.61390441e+00,  2.04841713e+00,  2.42085661e+00,
         2.97951583e+00,  1.80012415e+00,  6.82805711e-01, -3.04158908e+00,
        -6.75356921e+00, -6.76598386e+00, -9.24891372e+00, -6.34388579e+00,
        -1.29733085e+01, -1.72811918e+01, -4.39422473e-01,  5.14752040e-01,
         1.88323917e-01,  1.19271814e+00,  1.88323917e-01,  5.02197112e-01,
         9.41619586e-01,  1.31826742e+00,  1.88323917e+00,  6.90521030e-01,
        -4.39422473e-01, -4.20590082e+00, -7.95982423e+00, -7.97237916e+00,
        -1.04833647e+01, -7.54551161e+00, -1.42498431e+01, -1.86064030e+01,
        -1.72630257e+01,  9.50000000e-01,  6.25000000e-01,  1.62500000e+00,
         6.25000000e-01,  9.37500000e-01,  1.37500000e+00,  1.75000000e+00,
         2.31250000e+00,  1.12500000e+00,  0.00000000e+00, -3.75000000e+00,
        -7.48750000e+00, -7.50000000e+00, -1.00000000e+01, -7.07500000e+00,
        -1.37500000e+01, -1.80875000e+01, -1.67500000e+01, -2.25000000e+01,
        -3.28117113e-01,  6.81474003e-01, -3.28117113e-01, -1.26198889e-02,
         4.29076224e-01,  8.07672892e-01,  1.37556790e+00,  1.76678445e-01,
        -9.59111560e-01, -4.74507824e+00, -8.51842504e+00, -8.53104493e+00,
        -1.10550227e+01, -8.10196870e+00, -1.48409894e+01, -1.92200909e+01,
        -1.78697627e+01, -2.36749117e+01, -2.83442706e+01,  1.00628931e+00,
         0.00000000e+00,  3.14465409e-01,  7.54716981e-01,  1.13207547e+00,
         1.69811321e+00,  5.03144654e-01, -6.28930818e-01, -4.40251572e+00,
        -8.16352201e+00, -8.17610063e+00, -1.06918239e+01, -7.74842767e+00,
        -1.44654088e+01, -1.88301887e+01, -1.74842767e+01, -2.32704403e+01,
        -2.79245283e+01, -2.91320755e+01, -1.01651842e+00, -6.98856417e-01,
        -2.54129606e-01,  1.27064803e-01,  6.98856417e-01, -5.08259212e-01,
        -1.65184244e+00, -5.46378653e+00, -9.26302414e+00, -9.27573062e+00,
        -1.18170267e+01, -8.84371029e+00, -1.56289708e+01, -2.00381194e+01,
        -1.86785260e+01, -2.45235070e+01, -2.92249047e+01, -3.04447268e+01,
        -3.08132147e+01,  3.14465409e-01,  7.54716981e-01,  1.13207547e+00,
         1.69811321e+00,  5.03144654e-01, -6.28930818e-01, -4.40251572e+00,
        -8.16352201e+00, -8.17610063e+00, -1.06918239e+01, -7.74842767e+00,
        -1.44654088e+01, -1.88301887e+01, -1.74842767e+01, -2.32704403e+01,
        -2.79245283e+01, -2.91320755e+01, -2.94968553e+01, -2.68176101e+01,
         4.41640379e-01,  8.20189274e-01,  1.38801262e+00,  1.89274448e-01,
        -9.46372240e-01, -4.73186120e+00, -8.50473186e+00, -8.51735016e+00,
        -1.10410095e+01, -8.08832808e+00, -1.48264984e+01, -1.92050473e+01,
        -1.78548896e+01, -2.36593060e+01, -2.83280757e+01, -2.95394322e+01,
        -2.99053628e+01, -2.72176656e+01, -2.51987382e+01,  3.80228137e-01,
         9.50570342e-01, -2.53485425e-01, -1.39416984e+00, -5.19645120e+00,
        -8.98605830e+00, -8.99873257e+00, -1.15335868e+01, -8.56780735e+00,
        -1.53358682e+01, -1.97338403e+01, -1.83776933e+01, -2.42078580e+01,
        -2.88973384e+01, -3.01140684e+01, -3.04816223e+01, -2.77820025e+01,
        -2.57541191e+01, -2.47782003e+01,  5.72519084e-01, -6.36132316e-01,
        -1.78117048e+00, -5.59796438e+00, -9.40203562e+00, -9.41475827e+00,
        -1.19592875e+01, -8.98218830e+00, -1.57760814e+01, -2.01908397e+01,
        -1.88295165e+01, -2.46819338e+01, -2.93893130e+01, -3.06106870e+01,
        -3.09796438e+01, -2.82697201e+01, -2.62340967e+01, -2.52544529e+01,
        -2.64631043e+01, -1.21561100e+00, -2.36724248e+00, -6.20601408e+00,
        -1.00319898e+01, -1.00447857e+01, -1.26039667e+01, -9.60972489e+00,
        -1.64427383e+01, -2.08829175e+01, -1.95137556e+01, -2.53998720e+01,
        -3.01343570e+01, -3.13627639e+01, -3.17338452e+01, -2.90083173e+01,
        -2.69609725e+01, -2.59756878e+01, -2.71912988e+01, -2.79590531e+01,
        -1.13780025e+00, -4.93046776e+00, -8.71049305e+00, -8.72313527e+00,
        -1.12515803e+01, -8.29329962e+00, -1.50442478e+01, -1.94310999e+01,
        -1.80783818e+01, -2.38938053e+01, -2.85714286e+01, -2.97850822e+01,
        -3.01517067e+01, -2.74589128e+01, -2.54361568e+01, -2.44627054e+01,
        -2.56637168e+01, -2.64222503e+01, -2.01011378e+01, -3.75000000e+00,
        -7.48750000e+00, -7.50000000e+00, -1.00000000e+01, -7.07500000e+00,
        -1.37500000e+01, -1.80875000e+01, -1.67500000e+01, -2.25000000e+01,
        -2.71250000e+01, -2.83250000e+01, -2.86875000e+01, -2.60250000e+01,
        -2.40250000e+01, -2.30625000e+01, -2.42500000e+01, -2.50000000e+01,
        -1.87500000e+01, -1.90000000e+01, -3.60240964e+00, -3.61445783e+00,
        -6.02409639e+00, -3.20481928e+00, -9.63855422e+00, -1.38192771e+01,
        -1.25301205e+01, -1.80722892e+01, -2.25301205e+01, -2.36867470e+01,
        -2.40361446e+01, -2.14698795e+01, -1.95421687e+01, -1.86144578e+01,
        -1.97590361e+01, -2.04819277e+01, -1.44578313e+01, -1.46987952e+01,
        -1.30120482e+01, -1.16292592e-02, -2.33748110e+00,  3.83765554e-01,
        -5.82625887e+00, -9.86161182e+00, -8.61728108e+00, -1.39667403e+01,
        -1.82695662e+01, -1.93859751e+01, -1.97232236e+01, -1.72461914e+01,
        -1.53855099e+01, -1.44900570e+01, -1.55948366e+01, -1.62925922e+01,
        -1.04779626e+01, -1.07105477e+01, -9.08245145e+00, -9.89649959e+00,
        -2.32558140e+00,  3.95348837e-01, -5.81395349e+00, -9.84883721e+00,
        -8.60465116e+00, -1.39534884e+01, -1.82558140e+01, -1.93720930e+01,
        -1.97093023e+01, -1.72325581e+01, -1.53720930e+01, -1.44767442e+01,
        -1.55813953e+01, -1.62790698e+01, -1.04651163e+01, -1.06976744e+01,
        -9.06976744e+00, -9.88372093e+00, -1.16279070e+01,  2.65909091e+00,
        -3.40909091e+00, -7.35227273e+00, -6.13636364e+00, -1.13636364e+01,
        -1.55681818e+01, -1.66590909e+01, -1.69886364e+01, -1.45681818e+01,
        -1.27500000e+01, -1.18750000e+01, -1.29545455e+01, -1.36363636e+01,
        -7.95454545e+00, -8.18181818e+00, -6.59090909e+00, -7.38636364e+00,
        -9.09090909e+00, -6.02272727e+00, -6.23394817e+00, -1.02848471e+01,
        -9.03572262e+00, -1.44057903e+01, -1.87251926e+01, -1.98459024e+01,
        -2.01844502e+01, -1.76978753e+01, -1.58300257e+01, -1.49311230e+01,
        -1.60401588e+01, -1.67406024e+01, -1.09035723e+01, -1.11370535e+01,
        -9.50268503e+00, -1.03198693e+01, -1.20709783e+01, -8.91898202e+00,
        -1.20709783e+01, -3.81318681e+00, -2.63736264e+00, -7.69230769e+00,
        -1.17582418e+01, -1.28131868e+01, -1.31318681e+01, -1.07912088e+01,
        -9.03296703e+00, -8.18681319e+00, -9.23076923e+00, -9.89010989e+00,
        -4.39560440e+00, -4.61538462e+00, -3.07692308e+00, -3.84615385e+00,
        -5.49450549e+00, -2.52747253e+00, -5.49450549e+00, -6.36263736e+00]),
 array([ 1.11731844e+00,  6.82805711e-01,  1.62631906e+00,  1.30353818e+00,
         2.29671012e+00,  1.30353818e+00,  1.61390441e+00,  2.04841713e+00,
         2.42085661e+00,  2.97951583e+00,  1.80012415e+00,  6.82805711e-01,
        -3.04158908e+00, -6.75356921e+00, -6.76598386e+00, -9.24891372e+00,
        -6.34388579e+00, -1.29733085e+01, -1.72811918e+01, -4.39422473e-01,
         5.14752040e-01,  1.88323917e-01,  1.19271814e+00,  1.88323917e-01,
         5.02197112e-01,  9.41619586e-01,  1.31826742e+00,  1.88323917e+00,
         6.90521030e-01, -4.39422473e-01, -4.20590082e+00, -7.95982423e+00,
        -7.97237916e+00, -1.04833647e+01, -7.54551161e+00, -1.42498431e+01,
        -1.86064030e+01, -1.72630257e+01,  9.50000000e-01,  6.25000000e-01,
         1.62500000e+00,  6.25000000e-01,  9.37500000e-01,  1.37500000e+00,
         1.75000000e+00,  2.31250000e+00,  1.12500000e+00,  0.00000000e+00,
        -3.75000000e+00, -7.48750000e+00, -7.50000000e+00, -1.00000000e+01,
        -7.07500000e+00, -1.37500000e+01, -1.80875000e+01, -1.67500000e+01,
        -2.25000000e+01, -3.28117113e-01,  6.81474003e-01, -3.28117113e-01,
        -1.26198889e-02,  4.29076224e-01,  8.07672892e-01,  1.37556790e+00,
         1.76678445e-01, -9.59111560e-01, -4.74507824e+00, -8.51842504e+00,
        -8.53104493e+00, -1.10550227e+01, -8.10196870e+00, -1.48409894e+01,
        -1.92200909e+01, -1.78697627e+01, -2.36749117e+01, -2.83442706e+01,
         1.00628931e+00,  0.00000000e+00,  3.14465409e-01,  7.54716981e-01,
         1.13207547e+00,  1.69811321e+00,  5.03144654e-01, -6.28930818e-01,
        -4.40251572e+00, -8.16352201e+00, -8.17610063e+00, -1.06918239e+01,
        -7.74842767e+00, -1.44654088e+01, -1.88301887e+01, -1.74842767e+01,
        -2.32704403e+01, -2.79245283e+01, -2.91320755e+01, -1.01651842e+00,
        -6.98856417e-01, -2.54129606e-01,  1.27064803e-01,  6.98856417e-01,
        -5.08259212e-01, -1.65184244e+00, -5.46378653e+00, -9.26302414e+00,
        -9.27573062e+00, -1.18170267e+01, -8.84371029e+00, -1.56289708e+01,
        -2.00381194e+01, -1.86785260e+01, -2.45235070e+01, -2.92249047e+01,
        -3.04447268e+01, -3.08132147e+01,  3.14465409e-01,  7.54716981e-01,
         1.13207547e+00,  1.69811321e+00,  5.03144654e-01, -6.28930818e-01,
        -4.40251572e+00, -8.16352201e+00, -8.17610063e+00, -1.06918239e+01,
        -7.74842767e+00, -1.44654088e+01, -1.88301887e+01, -1.74842767e+01,
        -2.32704403e+01, -2.79245283e+01, -2.91320755e+01, -2.94968553e+01,
        -2.68176101e+01,  4.41640379e-01,  8.20189274e-01,  1.38801262e+00,
         1.89274448e-01, -9.46372240e-01, -4.73186120e+00, -8.50473186e+00,
        -8.51735016e+00, -1.10410095e+01, -8.08832808e+00, -1.48264984e+01,
        -1.92050473e+01, -1.78548896e+01, -2.36593060e+01, -2.83280757e+01,
        -2.95394322e+01, -2.99053628e+01, -2.72176656e+01, -2.51987382e+01,
         3.80228137e-01,  9.50570342e-01, -2.53485425e-01, -1.39416984e+00,
        -5.19645120e+00, -8.98605830e+00, -8.99873257e+00, -1.15335868e+01,
        -8.56780735e+00, -1.53358682e+01, -1.97338403e+01, -1.83776933e+01,
        -2.42078580e+01, -2.88973384e+01, -3.01140684e+01, -3.04816223e+01,
        -2.77820025e+01, -2.57541191e+01, -2.47782003e+01,  5.72519084e-01,
        -6.36132316e-01, -1.78117048e+00, -5.59796438e+00, -9.40203562e+00,
        -9.41475827e+00, -1.19592875e+01, -8.98218830e+00, -1.57760814e+01,
        -2.01908397e+01, -1.88295165e+01, -2.46819338e+01, -2.93893130e+01,
        -3.06106870e+01, -3.09796438e+01, -2.82697201e+01, -2.62340967e+01,
        -2.52544529e+01, -2.64631043e+01, -1.21561100e+00, -2.36724248e+00,
        -6.20601408e+00, -1.00319898e+01, -1.00447857e+01, -1.26039667e+01,
        -9.60972489e+00, -1.64427383e+01, -2.08829175e+01, -1.95137556e+01,
        -2.53998720e+01, -3.01343570e+01, -3.13627639e+01, -3.17338452e+01,
        -2.90083173e+01, -2.69609725e+01, -2.59756878e+01, -2.71912988e+01,
        -2.79590531e+01, -1.13780025e+00, -4.93046776e+00, -8.71049305e+00,
        -8.72313527e+00, -1.12515803e+01, -8.29329962e+00, -1.50442478e+01,
        -1.94310999e+01, -1.80783818e+01, -2.38938053e+01, -2.85714286e+01,
        -2.97850822e+01, -3.01517067e+01, -2.74589128e+01, -2.54361568e+01,
        -2.44627054e+01, -2.56637168e+01, -2.64222503e+01, -2.01011378e+01,
        -3.75000000e+00, -7.48750000e+00, -7.50000000e+00, -1.00000000e+01,
        -7.07500000e+00, -1.37500000e+01, -1.80875000e+01, -1.67500000e+01,
        -2.25000000e+01, -2.71250000e+01, -2.83250000e+01, -2.86875000e+01,
        -2.60250000e+01, -2.40250000e+01, -2.30625000e+01, -2.42500000e+01,
        -2.50000000e+01, -1.87500000e+01, -1.90000000e+01, -3.60240964e+00,
        -3.61445783e+00, -6.02409639e+00, -3.20481928e+00, -9.63855422e+00,
        -1.38192771e+01, -1.25301205e+01, -1.80722892e+01, -2.25301205e+01,
        -2.36867470e+01, -2.40361446e+01, -2.14698795e+01, -1.95421687e+01,
        -1.86144578e+01, -1.97590361e+01, -2.04819277e+01, -1.44578313e+01,
        -1.46987952e+01, -1.30120482e+01, -1.16292592e-02, -2.33748110e+00,
         3.83765554e-01, -5.82625887e+00, -9.86161182e+00, -8.61728108e+00,
        -1.39667403e+01, -1.82695662e+01, -1.93859751e+01, -1.97232236e+01,
        -1.72461914e+01, -1.53855099e+01, -1.44900570e+01, -1.55948366e+01,
        -1.62925922e+01, -1.04779626e+01, -1.07105477e+01, -9.08245145e+00,
        -9.89649959e+00, -2.32558140e+00,  3.95348837e-01, -5.81395349e+00,
        -9.84883721e+00, -8.60465116e+00, -1.39534884e+01, -1.82558140e+01,
        -1.93720930e+01, -1.97093023e+01, -1.72325581e+01, -1.53720930e+01,
        -1.44767442e+01, -1.55813953e+01, -1.62790698e+01, -1.04651163e+01,
        -1.06976744e+01, -9.06976744e+00, -9.88372093e+00, -1.16279070e+01,
         2.65909091e+00, -3.40909091e+00, -7.35227273e+00, -6.13636364e+00,
        -1.13636364e+01, -1.55681818e+01, -1.66590909e+01, -1.69886364e+01,
        -1.45681818e+01, -1.27500000e+01, -1.18750000e+01, -1.29545455e+01,
        -1.36363636e+01, -7.95454545e+00, -8.18181818e+00, -6.59090909e+00,
        -7.38636364e+00, -9.09090909e+00, -6.02272727e+00, -6.23394817e+00,
        -1.02848471e+01, -9.03572262e+00, -1.44057903e+01, -1.87251926e+01,
        -1.98459024e+01, -2.01844502e+01, -1.76978753e+01, -1.58300257e+01,
        -1.49311230e+01, -1.60401588e+01, -1.67406024e+01, -1.09035723e+01,
        -1.11370535e+01, -9.50268503e+00, -1.03198693e+01, -1.20709783e+01,
        -8.91898202e+00, -1.20709783e+01, -3.81318681e+00, -2.63736264e+00,
        -7.69230769e+00, -1.17582418e+01, -1.28131868e+01, -1.31318681e+01,
        -1.07912088e+01, -9.03296703e+00, -8.18681319e+00, -9.23076923e+00,
        -9.89010989e+00, -4.39560440e+00, -4.61538462e+00, -3.07692308e+00,
        -3.84615385e+00, -5.49450549e+00, -2.52747253e+00, -5.49450549e+00,
        -6.36263736e+00,  1.13263470e+00, -3.73663597e+00, -7.65322325e+00,
        -8.66941886e+00, -8.97639462e+00, -6.72171060e+00, -5.02805123e+00,
        -4.21297766e+00, -5.21858791e+00, -5.85371017e+00, -5.61024664e-01,
        -7.72732084e-01,  7.09219858e-01, -3.17561131e-02, -1.61956177e+00,
         1.23848841e+00, -1.61956177e+00, -2.45580608e+00, -1.40785435e+00])]

In [14]:
df4 = pd.DataFrame(c3)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,370,371,372,373,374,375,376,377,378,379
0,-2.272727,-1.704545,-0.568182,-1.010101,-0.050505,-0.378788,0.631313,-0.378788,-0.063131,0.378788,...,-14.931123,-16.040159,-16.740602,-10.903572,-11.137053,-9.502685,-10.319869,-12.070978,-8.918982,-12.070978
1,0.555556,1.666667,1.234568,2.172840,1.851852,2.839506,1.851852,2.160494,2.592593,2.962963,...,-9.230769,-9.890110,-4.395604,-4.615385,-3.076923,-3.846154,-5.494505,-2.527473,-5.494505,-6.362637
2,1.117318,0.682806,1.626319,1.303538,2.296710,1.303538,1.613904,2.048417,2.420857,2.979516,...,-5.853710,-0.561025,-0.772732,0.709220,-0.031756,-1.619562,1.238488,-1.619562,-2.455806,-1.407854
3,-0.439422,0.514752,0.188324,1.192718,0.188324,0.502197,0.941620,1.318267,1.883239,0.690521,...,-1.713062,-1.927195,-0.428266,-1.177730,-2.783726,0.107066,-2.783726,-3.629550,-2.569593,-2.783726
4,0.950000,0.625000,1.625000,0.625000,0.937500,1.375000,1.750000,2.312500,1.125000,0.000000,...,2.857143,4.285714,3.571429,2.040816,4.795918,2.040816,1.234694,2.244898,2.040816,4.387755
5,-0.328117,0.681474,-0.328117,-0.012620,0.429076,0.807673,1.375568,0.176678,-0.959112,-4.745078,...,7.767945,7.079646,5.604720,8.259587,5.604720,4.827925,5.801377,5.604720,7.866273,5.604720
6,1.006289,0.000000,0.314465,0.754717,1.132075,1.698113,0.503145,-0.628931,-4.402516,-8.163522,...,7.948568,6.487434,9.117475,6.487434,5.717904,6.682252,6.487434,8.727839,6.487434,6.877070
7,-1.016518,-0.698856,-0.254130,0.127065,0.698856,-0.508259,-1.651842,-5.463787,-9.263024,-9.275731,...,6.750850,9.373482,6.750850,5.983487,6.945119,6.750850,8.984944,6.750850,7.139388,7.003400
8,0.314465,0.754717,1.132075,1.698113,0.503145,-0.628931,-4.402516,-8.163522,-8.176101,-10.691824,...,7.458838,4.780797,3.997223,4.979171,4.780797,7.062091,4.780797,5.177544,5.038683,4.780797
9,0.441640,0.820189,1.388013,0.189274,-0.946372,-4.731861,-8.504732,-8.517350,-11.041009,-8.088328,...,3.245313,2.449103,3.446886,3.245313,5.563394,3.245313,3.648458,3.507357,3.245313,3.547672

In [15]:
df4.shape

(6328, 380)

In [16]:
df1.shape

(6348, 4)

In [17]:
df4['Close'] = df1.iloc[:6328]['Close']

df4['Xth'] = df1.iloc[:6328]['Xth']
df4.shape

(6328, 382)

In [18]:
df3.head(5)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,-2.272727,-1.704545,-0.568182,-1.010101,-0.050505,-0.378788,0.631313,-0.378788,-0.063131,0.378788,0.757576,1.325758,0.126263,-1.010101,-4.797980,-8.573232,-8.585859,-11.111111,-8.156566
1,0.555556,1.666667,1.234568,2.172840,1.851852,2.839506,1.851852,2.160494,2.592593,2.962963,3.518519,2.345679,1.234568,-2.469136,-6.160494,-6.172840,-8.641975,-5.753086,-12.345679
2,1.117318,0.682806,1.626319,1.303538,2.296710,1.303538,1.613904,2.048417,2.420857,2.979516,1.800124,0.682806,-3.041589,-6.753569,-6.765984,-9.248914,-6.343886,-12.973309,-17.281192
3,-0.439422,0.514752,0.188324,1.192718,0.188324,0.502197,0.941620,1.318267,1.883239,0.690521,-0.439422,-4.205901,-7.959824,-7.972379,-10.483365,-7.545512,-14.249843,-18.606403,-17.263026
4,0.950000,0.625000,1.625000,0.625000,0.937500,1.375000,1.750000,2.312500,1.125000,0.000000,-3.750000,-7.487500,-7.500000,-10.000000,-7.075000,-13.750000,-18.087500,-16.750000,-22.500000

In [19]:
df4.shape

(6328, 382)

In [20]:
df5 = df4.dropna()

In [21]:
df5.shape

(6303, 382)

In [22]:
len(df5[df5[7]>6])

732

In [23]:
len(df5[df5[7]<2])

4597

In [24]:
df6 = df5
df6 = df6.assign(result = lambda x: ((x['Close'] - x['Xth'])/x['Xth']*100)>6)
    
df6['result'].value_counts()

False    5589
True      714
Name: result, dtype: int64

In [25]:
for i in range(len(df6.result)):
    if df6['result'][i] == False:
       df6['result'][i] = 0
    else:
       df6['result'][i] = 1

C:\Users\abhij\AppData\Local\Temp\ipykernel_21520\4073025108.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df6['result'][i] = 0

In [26]:
df6.result.describe()

count     6303
unique       2
top          0
freq      5589
Name: result, dtype: int64

In [27]:
df6.head()

,0,1,2,3,4,5,6,7,8,9,...,373,374,375,376,377,378,379,Close,Xth,result
0,-2.272727,-1.704545,-0.568182,-1.010101,-0.050505,-0.378788,0.631313,-0.378788,-0.063131,0.378788,...,-10.903572,-11.137053,-9.502685,-10.319869,-12.070978,-8.918982,-12.070978,407.90,396.00,0
1,0.555556,1.666667,1.234568,2.172840,1.851852,2.839506,1.851852,2.160494,2.592593,2.962963,...,-4.615385,-3.076923,-3.846154,-5.494505,-2.527473,-5.494505,-6.362637,406.25,405.00,0
2,1.117318,0.682806,1.626319,1.303538,2.296710,1.303538,1.613904,2.048417,2.420857,2.979516,...,0.709220,-0.031756,-1.619562,1.238488,-1.619562,-2.455806,-1.407854,409.00,402.75,0
3,-0.439422,0.514752,0.188324,1.192718,0.188324,0.502197,0.941620,1.318267,1.883239,0.690521,...,-1.177730,-2.783726,0.107066,-2.783726,-3.629550,-2.569593,-2.783726,406.30,398.25,0
4,0.950000,0.625000,1.625000,0.625000,0.937500,1.375000,1.750000,2.312500,1.125000,0.000000,...,2.040816,4.795918,2.040816,1.234694,2.244898,2.040816,4.387755,401.50,400.00,0

In [28]:
df7 = df6.drop(['Close','Xth'],axis=1)
df7.head()

,0,1,2,3,4,5,6,7,8,9,...,371,372,373,374,375,376,377,378,379,result
0,-2.272727,-1.704545,-0.568182,-1.010101,-0.050505,-0.378788,0.631313,-0.378788,-0.063131,0.378788,...,-16.040159,-16.740602,-10.903572,-11.137053,-9.502685,-10.319869,-12.070978,-8.918982,-12.070978,0
1,0.555556,1.666667,1.234568,2.172840,1.851852,2.839506,1.851852,2.160494,2.592593,2.962963,...,-9.890110,-4.395604,-4.615385,-3.076923,-3.846154,-5.494505,-2.527473,-5.494505,-6.362637,0
2,1.117318,0.682806,1.626319,1.303538,2.296710,1.303538,1.613904,2.048417,2.420857,2.979516,...,-0.561025,-0.772732,0.709220,-0.031756,-1.619562,1.238488,-1.619562,-2.455806,-1.407854,0
3,-0.439422,0.514752,0.188324,1.192718,0.188324,0.502197,0.941620,1.318267,1.883239,0.690521,...,-1.927195,-0.428266,-1.177730,-2.783726,0.107066,-2.783726,-3.629550,-2.569593,-2.783726,0
4,0.950000,0.625000,1.625000,0.625000,0.937500,1.375000,1.750000,2.312500,1.125000,0.000000,...,4.285714,3.571429,2.040816,4.795918,2.040816,1.234694,2.244898,2.040816,4.387755,0

In [29]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [30]:
X = df7.drop('result',axis='columns')
y = df7["result"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [31]:
X_train.shape

(5042, 380)

In [32]:
X_test.shape

(1261, 380)

In [34]:
import numpy as np

X_train1 = np.asarray(X_train).astype(np.float32)
X_test1 = np.asarray(X_test).astype(np.float32)
y_train1 = np.asarray(y_train).astype(np.float32)

In [35]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(380, input_shape=(380,), activation='relu'),
    keras.layers.Dense(50, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train1, y_train1, epochs=20)

ModuleNotFoundError: No module named 'tensorflow'