In [1]:
import pandas as pd
import joblib

nifty_500 = pd.read_csv('ind_nifty500list.csv')
stocks = nifty_500['Symbol'].values.tolist()
stocks = pd.DataFrame(stocks)
stocks

              0
0        360ONE
1       3MINDIA
2           ABB
3           ACC
4        AIAENG
..          ...
496  ZENSARTECH
497      ZOMATO
498   ZYDUSLIFE
499   ZYDUSWELL
500      ECLERX

[501 rows x 1 columns]

In [2]:
import joblib

In [ ]:
import yfinance as yf
import datetime

# Define the list of NSE companies to fetch data for
nse_companies = stocks[0] +'.NS'

# Set the start and end dates
end_date = datetime.date.today()
start_date = end_date - datetime.timedelta(days=60)

# Create an empty dictionary to store the data for each company
data = {}

# Loop through the list of companies and fetch their data
for company in nse_companies:
    data[company] = yf.download(company, start=start_date, end=end_date)

# Print the data for each company
for company in data:
    print(company)
    print(data[company])

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
nifty_500.head()

In [ ]:
data_dump = pd.DataFrame(data['ABB.NS'])

data_dump.head()

In [ ]:
data['360ONE.NS']

In [ ]:
data['360ONE.NS'].head()

In [ ]:
nse_companies

In [ ]:
pred_days = 15
reward = 5
risk =1
days_shape = 60
eps = 1000

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
    model11 = joblib.load('model11.pkl')
    model12 = joblib.load('model12.pkl')
    model13 = joblib.load('model13.pkl')
    model21 = joblib.load('model11.pkl')
    model22 = joblib.load('model12.pkl')
    model23 = joblib.load('model13.pkl')    
    model31 = joblib.load('model11.pkl')
    model32 = joblib.load('model12.pkl')
    model33 = joblib.load('model13.pkl')

In [ ]:
count = 0 
for company in nse_companies:
    
    print('Completed',count,'out of 500 steps')
    count = count+1
    
    current_data = data[company]
    print(current_data.shape) 
    current_data['Date'] = current_data.index
    current_data = current_data.reset_index(drop=True)
    current_data = current_data[['Date','Close']]

    current_data_05 = current_data
    current_data_10 = current_data
    current_data_15 = current_data
    
    current_data_05['Xth'] = current_data['Close'].shift(-1* pred_days)
    current_data_10['Xth_10'] = current_data['Close'].shift(-1* (pred_days+5))
    current_data_15['Xth_15'] = current_data['Close'].shift(-1* (pred_days+10))
                                                         
                                                       
    c1 = []
    for i in range(1,days_shape):
        current_data_05['temp'] = current_data_05['Xth'] - current_data_05['Xth'].shift(-1*i)
        current_data_05['temp'] = current_data_05['temp']/current_data_05['Xth']*100
        c1.append(current_data_05['temp'].to_numpy())
        
    c11 =[]    
    for i in range(1,days_shape):
        current_data_10['temp'] = current_data_10['Xth'] - current_data_10['Xth'].shift(-1*i)
        current_data_10['temp'] = current_data_10['temp']/current_data_10['Xth']*100
        c11.append(current_data_10['temp'].to_numpy())

    c111 = []
    for i in range(1,days_shape):
        current_data_15['temp'] = current_data_15['Xth'] - current_data_15['Xth'].shift(-1*i)
        current_data_15['temp'] = current_data_15['temp']/current_data_15['Xth']*100
        c111.append(current_data_15['temp'].to_numpy())        
        
    current_data1 = pd.DataFrame(c1)
    current_data2 = current_data1.transpose()    

    current_data11 = pd.DataFrame(c11)
    current_data22 = current_data11.transpose()      
    
    current_data111 = pd.DataFrame(c111)
    current_data222 = current_data111.transpose()  
    
    c2 =current_data2.to_numpy()
    c22 =current_data22.to_numpy()
    c222 =current_data222.to_numpy()
    
    c3 =[]
    c33 =[]
    c333 =[]

    for i in range(int(len(c2)-days_shape)):
        c6 = np.concatenate((c2[i:i+days_shape]))
        c3.append(c6)
        
    for i in range(int(len(c22)-days_shape)):
        c66 = np.concatenate((c22[i:i+days_shape]))
        c33.append(c66)
        
    for i in range(int(len(c222)-days_shape)):
        c666 = np.concatenate((c222[i:i+days_shape]))
        c333.append(c666)       
        
    aes = current_data.shape[0]
    
    df4 = pd.DataFrame(c3)
    df4['Close'] = current_data_05.iloc[:aes]['Close']
    df4['Xth'] = current_data_05.iloc[:aes]['Xth']
    
    df44 = pd.DataFrame(c33)
    df44['Close'] = current_data_10.iloc[:aes]['Close']
    df44['Xth_10'] = current_data_10.iloc[:aes]['Xth_10']
    
    df444 = pd.DataFrame(c333)
    df444['Close'] = current_data_15.iloc[:aes]['Close']
    df444['Xth_15'] = current_data_15.iloc[:aes]['Xth_15']    
    
    df5 = df4.dropna()
    df55 = df44.dropna()
    df555 = df444.dropna()
    
    df6 = df5
    df6 = df6.assign(result5_w1 = lambda x: ((x['Close'] - x['Xth'])/x['Xth']*100)>5)
    df6 = df6.assign(result10_w1 = lambda x: ((x['Close'] - x['Xth'])/x['Xth']*100)>10)
    df6 = df6.assign(result15_w1 = lambda x: ((x['Close'] - x['Xth'])/x['Xth']*100)>15)

    df66 = df55
    df66 = df66.assign(result5_w2 = lambda x: ((x['Close'] - x['Xth_10'])/x['Xth_10']*100)>5)
    df66 = df66.assign(result10_w2 = lambda x: ((x['Close'] - x['Xth_10'])/x['Xth_10']*100)>10)
    df66 = df66.assign(result15_w2 = lambda x: ((x['Close'] - x['Xth_10'])/x['Xth_10']*100)>15)
    
    df666 = df555
    df666 = df666.assign(result5_w3 = lambda x: ((x['Close'] - x['Xth_15'])/x['Xth_15']*100)>5)
    df666 = df666.assign(result10_w3 = lambda x: ((x['Close'] - x['Xth_15'])/x['Xth_15']*100)>10)
    df666 = df666.assign(result15_w3 = lambda x: ((x['Close'] - x['Xth_15'])/x['Xth_15']*100)>15)
    
    #print(df6['result'].value_counts())  
    
    for i in range(len(df6.result5_w1)):
        if df6['result5_w1'][i] == False:
            df6['result5_w1'][i] = 0
        else:
            df6['result5_w1'][i] = 1

    for i in range(len(df6.result10_w1)):
        if df6['result10_w1'][i] == False:
            df6['result10_w1'][i] = 0
        else:
            df6['result10_w1'][i] = 1

    for i in range(len(df6.result15_w1)):
        if df6['result15_w1'][i] == False:
            df6['result15_w1'][i] = 0
        else:
            df6['result15_w1'][i] = 1            

  #############################################          
    for i in range(len(df66.result5_w2)):
        if df66['result5_w2'][i] == False:
            df66['result5_w2'][i] = 0
        else:
            df66['result5_w2'][i] = 1

    for i in range(len(df66.result10_w2)):
        if df66['result10_w2'][i] == False:
            df66['result10_w2'][i] = 0
        else:
            df66['result10_w2'][i] = 1

    for i in range(len(df66.result15_w2)):
        if df66['result15_w2'][i] == False:
            df66['result15_w2'][i] = 0
        else:
            df66['result15_w2'][i] = 1            
            
########################################################
    for i in range(len(df666.result5_w3)):
        if df666['result5_w3'][i] == False:
            df666['result5_w3'][i] = 0
        else:
            df666['result5_w3'][i] = 1

    for i in range(len(df666.result10_w3)):
        if df666['result10_w3'][i] == False:
            df666['result10_w3'][i] = 0
        else:
            df666['result10_w3'][i] = 1

    for i in range(len(df666.result15_w3)):
        if df666['result15_w3'][i] == False:
            df666['result15_w3'][i] = 0
        else:
            df666['result15_w3'][i] = 1            
            
 ####################################################           
            
    df7 = df6.drop(['Close','Xth'],axis=1)     
    df77 = df66.drop(['Close','Xth_10'],axis=1) 
    df777 = df666.drop(['Close','Xth_15'],axis=1) 
    
    X1 = df7.drop(['result5_w1','result10_w1','result15_w1'],axis='columns')
    X2 = df77.drop(['result5_w2','result10_w2','result15_w2'],axis='columns')
    X3 = df777.drop(['result5_w3','result10_w3','result15_w3'],axis='columns')
    
    import numpy as np
     
    print('shape of X1 is',X1.shape)    
    X_1 = np.asarray(X1).astype(np.float32)
    X_2 = np.asarray(X2).astype(np.float32)
    X_3 = np.asarray(X3).astype(np.float32)
    
    y11 = df7["result5_w1"]
    y12 = df7["result10_w1"]
    y13 = df7["result15_w1"]
    y21 = df77["result5_w2"]
    y22 = df77["result10_w2"]
    y23 = df77["result15_w2"]
    y31 = df777["result5_w3"]
    y32 = df777["result10_w3"]
    y33 = df777["result15_w3"]  
    
    
    yp11 = model11.predict(X_1)
    yp12 = model12.predict(X_1)
    yp13 = model13.predict(X_1)
    yp21 = model21.predict(X_2)
    yp22 = model22.predict(X_2)
    yp23 = model23.predict(X_2)
    yp31 = model31.predict(X_3)
    yp32 = model32.predict(X_3)
    yp33 = model33.predict(X_3)