In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("INFY.csv")
df = df.iloc[::-1]  #reversing rows to get current date first
df = df.reset_index(drop=True)
df.head(5)

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2021-07-01,INFY,EQ,1580.80,1576.85,1576.85,1559.05,1561.95,1560.40,1565.56,4814317,7.537112e+14,150925.0,2996603.0,0.6224
1,2021-06-30,INFY,EQ,1563.05,1572.05,1591.00,1572.05,1580.00,1580.80,1582.44,6058722,9.587563e+14,167938.0,3226132.0,0.5325
2,2021-06-29,INFY,EQ,1571.80,1561.00,1573.65,1559.20,1562.00,1563.05,1564.66,5913567,9.252700e+14,197132.0,3844762.0,0.6502
3,2021-06-28,INFY,EQ,1574.20,1572.90,1580.15,1560.60,1569.10,1571.80,1570.82,5019178,7.884238e+14,136591.0,3354874.0,0.6684
4,2021-06-25,INFY,EQ,1559.20,1572.00,1578.00,1543.00,1574.00,1574.20,1565.12,9780240,1.530725e+15,192643.0,5825533.0,0.5956

In [3]:
df.columns

Index(['Date', 'Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [4]:
df.dtypes

Date                   object
Symbol                 object
Series                 object
Prev Close            float64
Open                  float64
High                  float64
Low                   float64
Last                  float64
Close                 float64
VWAP                  float64
Volume                  int64
Turnover              float64
Trades                float64
Deliverable Volume    float64
%Deliverble           float64
dtype: object

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6348 entries, 0 to 6347
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                6348 non-null   object
 1   Symbol              6348 non-null   object
 2   Series              6348 non-null   object
 3   Prev Close          6348 non-null   float64
 4   Open                6348 non-null   float64
 5   High                6348 non-null   float64
 6   Low                 6348 non-null   float64
 7   Last                5802 non-null   float64
 8   Close               6348 non-null   float64
 9   VWAP                6348 non-null   float64
 10  Volume              6348 non-null   int64
 11  Turnover            6348 non-null   float64
 12  Trades              2501 non-null   float64
 13  Deliverable Volume  4843 non-null   float64
 14  %Deliverble         4843 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 744.0+ KB

In [6]:
df1 = df[['Date','Close']]
df1.shape

(6348, 2)

In [7]:
df1.head()

         Date    Close
0  2021-07-01  1560.40
1  2021-06-30  1580.80
2  2021-06-29  1563.05
3  2021-06-28  1571.80
4  2021-06-25  1574.20

In [8]:
pred_days = 15
reward = 15
risk =1
days_shape = 60
eps = 1


df1['Xth'] = df1['Close'].shift(-1* pred_days)
df1['Date_Xth'] = df1['Date'].shift(-1* pred_days)
print(len(df1.Close))

6348

C:\Users\abhij\AppData\Local\Temp\ipykernel_30204\2148908288.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Xth'] = df1['Close'].shift(-1* pred_days)
C:\Users\abhij\AppData\Local\Temp\ipykernel_30204\2148908288.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Date_Xth'] = df1['Date'].shift(-1* pred_days)

In [9]:
df1.head()

         Date    Close      Xth    Date_Xth
0  2021-07-01  1560.40  1424.30  2021-06-10
1  2021-06-30  1580.80  1415.30  2021-06-09
2  2021-06-29  1563.05  1412.95  2021-06-08
3  2021-06-28  1571.80  1389.65  2021-06-07
4  2021-06-25  1574.20  1385.65  2021-06-04

to do 8888888888888888888
Note that when I label this Xth I should have correcponding date and not the T+pred_day date

update: this is done

In [10]:


c1 = []
for i in range(1,days_shape+1):
    df1['temp'] = df1['Xth'] - df1['Xth'].shift(-1*i)
    df1['temp'] = df1['temp']/df1['Xth']*100
    c1.append(df1['temp'].to_numpy())

print(len(c1))    
df2 = pd.DataFrame(c1)
df3 = df2.transpose()
print(len(df3[0]))

df3.head(10)

60

C:\Users\abhij\AppData\Local\Temp\ipykernel_30204\4132079558.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['temp'] = df1['Xth'] - df1['Xth'].shift(-1*i)
C:\Users\abhij\AppData\Local\Temp\ipykernel_30204\4132079558.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['temp'] = df1['temp']/df1['Xth']*100

6348

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.631889,0.796883,2.432774,2.713614,2.432774,3.205083,2.604788,2.144913,1.351541,1.548129,...,4.953310,3.703574,3.756231,5.606263,6.122306,2.618830,2.829460,3.559643,3.471881,3.942287
1,0.166043,1.812337,2.094962,1.812337,2.589557,1.985445,1.522645,0.724228,0.922066,1.275348,...,3.091217,3.144210,5.006006,5.525330,1.999576,2.211545,2.946372,2.858051,3.331449,4.928284
2,1.649032,1.932128,1.649032,2.427545,1.822428,1.358859,0.559114,0.757281,1.111150,3.634240,...,2.983120,4.848013,5.368201,1.836583,2.048905,2.784953,2.696486,3.170671,4.770162,5.463746
3,0.287842,0.000000,0.791566,0.176303,-0.295038,-1.108193,-0.906703,-0.546900,2.018494,2.993560,...,3.252618,3.781528,0.190695,0.406577,1.154967,1.065016,1.547152,3.173461,3.878674,5.249523
4,-0.288673,0.505178,-0.111861,-0.584563,-1.400065,-1.197994,-0.837152,1.735648,2.713528,2.248042,...,3.503771,-0.097427,0.119078,0.869628,0.779418,1.262945,2.893949,3.601198,4.976004,3.990907
5,0.791566,0.176303,-0.295038,-1.108193,-0.906703,-0.546900,2.018494,2.993560,2.529414,3.623214,...,0.190695,0.406577,1.154967,1.065016,1.547152,3.173461,3.878674,5.249523,4.267262,3.317382
6,-0.620172,-1.095274,-1.914917,-1.711820,-1.349146,1.236717,2.219563,1.751714,2.854241,3.021071,...,-0.388061,0.366300,0.275632,0.761615,2.400899,3.111740,4.493526,3.503427,2.545969,5.378450
7,-0.472174,-1.286765,-1.084919,-0.724481,1.845444,2.822232,2.357266,3.452999,3.618800,3.402537,...,0.980392,0.890283,1.373270,3.002451,3.708910,5.082180,4.098183,3.146626,5.961649,8.664937
8,-0.810762,-0.609865,-0.251121,2.306726,3.278924,2.816143,3.906726,4.071749,3.856502,4.617040,...,1.356054,1.836771,3.458296,4.161435,5.528251,4.548879,3.601794,6.403587,9.094170,10.077130
9,0.199281,0.555140,3.092417,4.056795,3.597737,4.679549,4.843244,4.629728,5.384150,6.309384,...,2.626241,4.234725,4.932209,6.288032,5.316537,4.377068,7.156329,9.825273,10.800327,9.287926

In [11]:
df3.shape

(6348, 60)

In [13]:
c2 =df3.to_numpy()
c2

array([[0.63188935, 0.79688268, 2.43277399, ..., 3.55964333, 3.47188092,
        3.94228744],
       [0.16604254, 1.81233661, 2.0949622 , ..., 2.8580513 , 3.33144916,
        4.92828376],
       [1.64903217, 1.93212782, 1.64903217, ..., 3.17067129, 4.77016172,
        5.46374606],
       ...,
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan],
       [       nan,        nan,        nan, ...,        nan,        nan,
               nan]])

In [14]:
len(c2)

6348

In [15]:
c3 =[]

for i in range(int(len(c2)-days_shape)):
      
    c6 = np.concatenate((c2[i:i+days_shape]))
    
    c3.append(c6)

In [16]:
c3[1:3]

[array([ 0.16604254,  1.81233661,  2.0949622 , ..., 14.79735409,
        15.60866864, 14.8814092 ]),
 array([ 1.64903217,  1.93212782,  1.64903217, ..., 14.19122292,
        13.45174836, 13.55207908])]

In [17]:
len(c3)

6288

In [21]:
len(c3[0])

3600

In [18]:
df4 = pd.DataFrame(c3)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,3590,3591,3592,3593,3594,3595,3596,3597,3598,3599
0,0.631889,0.796883,2.432774,2.713614,2.432774,3.205083,2.604788,2.144913,1.351541,1.548129,...,9.059170,9.786522,10.095647,8.859148,11.226679,14.368840,13.459650,15.685347,15.212569,16.019929
1,0.166043,1.812337,2.094962,1.812337,2.589557,1.985445,1.522645,0.724228,0.922066,1.275348,...,9.344736,9.655374,8.412820,10.791945,13.949494,13.035851,15.272448,14.797354,15.608669,14.881409
2,1.649032,1.932128,1.649032,2.427545,1.822428,1.358859,0.559114,0.757281,1.111150,3.634240,...,8.137936,6.874512,9.293597,12.504180,11.575192,13.849355,13.366281,14.191223,13.451748,13.552079
3,0.287842,0.000000,0.791566,0.176303,-0.295038,-1.108193,-0.906703,-0.546900,2.018494,2.993560,...,6.191278,8.628112,11.862250,10.926446,13.217294,12.730676,13.561669,12.816770,12.917836,12.577204
4,-0.288673,0.505178,-0.111861,-0.584563,-1.400065,-1.197994,-0.837152,1.735648,2.713528,2.248042,...,7.306144,10.587074,9.637731,11.961722,11.468064,12.311081,11.555404,11.657933,11.312372,10.746563
5,0.791566,0.176303,-0.295038,-1.108193,-0.906703,-0.546900,2.018494,2.993560,2.529414,3.623214,...,11.504491,10.564889,12.865036,12.376442,13.210809,12.462886,12.564363,12.222348,11.662344,13.304769
6,-0.620172,-1.095274,-1.914917,-1.711820,-1.349146,1.236717,2.219563,1.751714,2.854241,3.021071,...,11.443564,13.721112,13.237319,14.063489,13.322913,13.423393,13.084738,12.530237,14.156526,14.889658
7,-0.472174,-1.286765,-1.084919,-0.724481,1.845444,2.822232,2.357266,3.452999,3.618800,3.402537,...,11.138367,10.640092,11.490993,10.728248,10.831736,10.482944,9.911844,11.586815,12.341893,13.020314
8,-0.810762,-0.609865,-0.251121,2.306726,3.278924,2.816143,3.906726,4.071749,3.856502,4.617040,...,7.995264,8.871350,8.086030,8.192581,7.833465,7.245462,8.970008,9.747435,10.445935,11.093133
9,0.199281,0.555140,3.092417,4.056795,3.597737,4.679549,4.843244,4.629728,5.384150,6.309384,...,7.875209,7.081305,7.189021,6.825979,6.231549,7.974946,8.760871,9.467007,10.121280,8.968324

In [19]:
df4.shape

(6288, 3600)

In [22]:

df4_with_labels = df4
df4_with_labels['Xth'] = df1.loc[:df4.shape[0]-1,'Xth']
df4_with_labels['Date_Xth'] = df1.loc[:df4.shape[0]-1,'Date_Xth']
df4_with_labels['Close'] = df1.loc[:df4.shape[0]-1,'Close']

In [23]:
df4_with_labels.shape

(6288, 3603)

This is the mail data set 
df4_with_labels

In [32]:
df4_with_labels.head()

,0,1,2,3,4,5,6,7,8,9,...,3593,3594,3595,3596,3597,3598,3599,Xth,Date_Xth,Close
0,0.631889,0.796883,2.432774,2.713614,2.432774,3.205083,2.604788,2.144913,1.351541,1.548129,...,8.859148,11.226679,14.368840,13.459650,15.685347,15.212569,16.019929,1424.30,2021-06-10,1560.40
1,0.166043,1.812337,2.094962,1.812337,2.589557,1.985445,1.522645,0.724228,0.922066,1.275348,...,10.791945,13.949494,13.035851,15.272448,14.797354,15.608669,14.881409,1415.30,2021-06-09,1580.80
2,1.649032,1.932128,1.649032,2.427545,1.822428,1.358859,0.559114,0.757281,1.111150,3.634240,...,12.504180,11.575192,13.849355,13.366281,14.191223,13.451748,13.552079,1412.95,2021-06-08,1563.05
3,0.287842,0.000000,0.791566,0.176303,-0.295038,-1.108193,-0.906703,-0.546900,2.018494,2.993560,...,10.926446,13.217294,12.730676,13.561669,12.816770,12.917836,12.577204,1389.65,2021-06-07,1571.80
4,-0.288673,0.505178,-0.111861,-0.584563,-1.400065,-1.197994,-0.837152,1.735648,2.713528,2.248042,...,11.961722,11.468064,12.311081,11.555404,11.657933,11.312372,10.746563,1385.65,2021-06-04,1574.20

In [20]:
#df1.shape

(6348, 5)

In [ ]:
#aes = df1.shape[0]

In [ ]:
#df4['Close'] = df1.iloc[:aes]['Close']

#df4['Xth'] = df1.iloc[:aes]['Xth']
#df4.shape

In [ ]:
#df3.head(5)

In [ ]:
#df4.shape

In [33]:
df5 = df4_with_labels.dropna()

In [34]:
df5.shape

(6214, 3603)

In [37]:
df6 = df5
df6 = df6.assign(result = lambda x: (((x['Close'] - x['Xth'])/x['Xth'])*100)>reward)
    
df6['result'].value_counts()

False    5773
True      441
Name: result, dtype: int64

In [ ]:
for i in range(len(df6.result)):
    if df6['result'][i] == False:
       df6['result'][i] = 0
    else:
       df6['result'][i] = 1

In [ ]:
df6.result.describe()

In [ ]:
df6.head()

In [ ]:
df7 = df6.drop(['Close','Xth'],axis=1)
df7.head()

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [ ]:
X = df7.drop('result',axis='columns')
y = df7["result"]

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=5)

In [ ]:
X_train.shape

In [ ]:
X_test.shape

In [ ]:
X_test.iloc[0].shape

In [ ]:
aess = X_test.shape[1]

In [ ]:
import numpy as np

X_train1 = np.asarray(X_train).astype(np.float32)
X_test1 = np.asarray(X_test).astype(np.float32)
y_train1 = np.asarray(y_train).astype(np.float32)
y_test1 = np.asarray(y_test).astype(np.float32)

In [ ]:
import tensorflow as tf
from tensorflow import keras


model = keras.Sequential([
    keras.layers.Dense(aess, input_shape=(aess,), activation='sigmoid'),
    keras.layers.Dense(800, activation='relu'),
    keras.layers.Dense(240, activation='relu'),
    keras.layers.Dense(65, activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

# opt = keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])

model.fit(X_train1, y_train1, epochs=eps)

In [ ]:
model.evaluate(X_test1, y_test1)

In [ ]:
yp = model.predict(X_test)
yp[:5]

In [ ]:
y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [ ]:
from sklearn.metrics import confusion_matrix , classification_report

print(classification_report(y_test1,y_pred))

In [ ]:
import seaborn as sn
cm = tf.math.confusion_matrix(labels=y_test1,predictions=y_pred)

plt.figure(figsize = (10,7))
sn.heatmap(cm, annot=True, fmt='d')
plt.xlabel('Predicted')
plt.ylabel('Truth')

In [ ]:
import joblib

In [ ]:
joblib.dump(model, 'model33.pkl')